/**
 * Alf styles
 * These can be toggled on and off by users in layout preview
 */
.alf-style-text-shadow-dark {
    text-shadow:0px 0px 4px rgba(0,0,0,0.5) !important;
}

.alf-style-text-shadow-light {
    text-shadow: 0 0 8px #FFF !important;
}

.alf-style-uppercase {
    text-transform: uppercase !important;
}

.alf-style-text-shadow-strong {
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.8) !important;
}

.alf-style-text-shadow-strong-white {
    text-shadow: 0 0px 8px rgba(255,255,255, 0.6) !important;
}

.alf-style-text-shadow-strong-blue {
    text-shadow: 0 0px 8px blue !important;
}

.alf-style-text-shadow-strong-pink {
    text-shadow: 0 0px 8px pink !important;
}
