@font-face {
    font-family: 'ChronicleDeck-Black';
    src: url(../fonts/ChronicleDeck-Black.otf);
}

@font-face {
    font-family: 'Gotham-Black';
    src: url(../fonts/Gotham-Black.otf);
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url(../fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: 'DharmaGothicE-Bold';
    src: url(../fonts/DharmaGothicE-Bold.otf);
}

@font-face {
    font-family: 'Palatino';
    src: url(../fonts/palatino.ttf);
}
