@font-face {
    font-family: 'ChronicleDeck-Black';
    src: url(../fonts/ChronicleDeck-Black.otf);
}

@font-face {
    font-family: 'Gotham-Black';
    src: url(../fonts/Gotham-Black.otf);
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url(../fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: 'DharmaGothicE-Bold';
    src: url(../fonts/DharmaGothicE-Bold.otf);
}

@font-face {
    font-family: 'Palatino';
    src: url(../fonts/palatino.ttf);
}

/**
 * Alf fonts
 * These will be available in the font dropdown
 */

.alf-font-condensed {
    font-family: DharmaGothicE-Bold !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
    line-height: 0.9em !important;
}

.alf-font-serif {
    font-family: ChronicleDeck-Black !important;
    font-weight: normal !important;
    text-transform: none !important;
}


.alf-font-sans-serif {
    font-family: Gotham-Book !important;
    font-weight: normal !important;
    text-transform: none !important;
}

.header-section {
    font-family: Gotham-Book;
}

.header-condensed h1 {
    font-family: DharmaGothicE-Bold;
    font-weight: normal;
}

.header-serif h1 {
    font-family: ChronicleDeck-Black;
    font-weight: normal;
}

.header-sans-serif h1 {
    font-family: DharmaGothicE-Bold;
    font-weight: normal;
}

.tmpl-excerpt-with-background .byline {
    font-family: Gotham-Medium;
}

.frontpage-1 {
    .excerpt {
        h2 {
            font-family: Gotham-Book;
            font-weight: normal;
        }

        p {
            font-family: Gotham-Book;
            font-weight: normal;
        }
    }
}

.alf-fullscreen-toolbar {
    a, button {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }
}

h1, h2, h3 {
    font-family: Gotham-Medium, Verdana, Helvetica, Arial;
    font-weight: normal;
}

h1 {
    font-family: Gotham-Bold, sans-serif;
}

.alf-region {
    p strong {
        font-family: ChronicleDeck-Black, sans-serif;
        font-weight: normal;
    }

    blockquote::after {
        font-family: "Times New Roman";
        font-weight: bold;
    }
}

.alf-region, .alf-container {
    blockquote {
        p {
            font-family: Gotham-Bold;
            font-weight: bold;
        }

        small {
            font-family: Gotham-Book;
            font-weight: normal;
        }
    }
}

.byline {
    font-family: Gotham-Book;
    font-weight: normal;
}

.excerpt {
    font-family: Gotham-Medium;
    font-weight: normal;
}

.overlay-caption {
    font-family: Helvetica;
}








// Title:
// sans serif og serif

// title-serif
// title-sans-serif

// excerpt-serif
// excerpt-sans-serif

// body
// h1, h2, h3, h4
// p strong

// Serif
// Sans-serif
// Book/magazine

// 2 excerpt
// 1

// Extra fonts

.title {
    &.serif,
    &.serif h1 {
        .alf-font-serif;
    }

    &.sans-serif {
        .alf-font-condensed;
    }
}

.excerpt {
    &.serif {
        .alf-font-serif;
    }

    &.sans-serif {
        .alf-font-sans-serif;
    }
}
