.none {
    display: none;
}

.no-overflow {
    overflow: hidden;
}

.half-width {
    width: 50%;
}

.dark {
    color: #111;
}

.light {
    color: #f5f5f5;
}

.light-box {
    background: white;
    background: rgba(255,255,255,0.9);
    color: #333;
    padding: 15px;
    width: 50%;
    border-radius: 2px;

    p {
        margin: 0;
        padding: 0;
    }
}


.fill-top-half {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
}

.fill-bottom-half {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    bottom: 0;
}

.fill-left-half {
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    bottom: 0;
}

.uppercase {
    text-transform: uppercase;
}

.fill-height {
    position: absolute;
    top: 0;
    bottom: 0;
}

.fill-width {
    width: 100%;
}

.max-height {
    max-height: 416px;
    overflow: hidden;
}

.offset-height {
    position: absolute;
    top: 100%;
}

.offset-top {
    top: 416px;
}

.content-indent {
    padding: 0 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-dark {
    background-color: #000;
}

.container-light {
    background-color: #fff;
}

.white-background {
    padding: 15px 0 5px;
    background: #f5f5f5;
}

.white-text {
    color: #FFF;
}

.black-text {
    color: #000;
}

.shadow {
    box-shadow: 0 0 6px #A6A6A6;
}

.align-center {
    text-align: center;
}

.no-border {
    border: none;
}
