// This file is included from the root styles.less file
// There is no need to include this in customer/_styles.less

// Colors
@colors-background: #F5F5F5;
@colors-font: #333;

@line-height: 26px;

// Fonts
@fonts-location: 'http://dev.cdn.drmobile.aptoma.no/fonts';

@fonts-condensed-family: Oswald;
@fonts-condensed-file: Oswald;

@fonts-serif-family: "PT serif";
@fonts-serif-file: "PT serif";

@fonts-sans-family: "Open sans";
@fonts-sans-file: "Open sans";

@fonts-body-family: Lato;
@fonts-body-file: Lato;
