.alf-font-condensed {
    font-family: $fonts-condensed !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.alf-font-serif {
    font-family: $fonts-serif !important;
    font-weight: 700 !important;
    text-transform: none !important;
}

.alf-font-sans-serif {
    font-family: $fonts-sans !important;
    font-weight: normal !important;
    text-transform: none !important;
}

.title {
    @extend .serif;
}

.excerpt, .byline, .section {
    @extend .sans;
}

.serif {
    &, h1 {
        font-family: $fonts-serif;
        font-size: 80px;
        font-weight: 700;
    }
}

.sans {
    &, h1 {
        font-family: $fonts-sans;
        font-size: 130px;
        font-weight: normal;
    }
}


.condensed {
    &, h1 {
        font-family: $fonts-condensed;
        font-size: 130px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.motto {
    font-size: 30px;
    line-height: 30px;

    &.serif,
    &.serif h1 {
        font-family: $fonts-serif;
    }

    &.sans,
    &.sans h1 {
        font-family: $fonts-sans;
    }
}
