/** Slideshow styles **/

.alf-slideshow .alf-page-loader {
    background: #000;
}

.alf-slideshow .alf-page-loader:before {
    color: #F5F5F5;
    text-shadow: none;
}

.alf-slideshow-inline {
    margin: 0;
    padding: 0;
    line-height: 0;
    position: relative;
}

.alf-slideshow-inline .overlay-caption {
    display: none;
}

.alf-slideshow-inline > .alf-slideshow-element {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.alf-slideshow-toggle {
    position: absolute;
    bottom: 50px;
    right: 70px;
    z-index: 10000;
    display: none;
}

.alf-slideshow-stack {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
}

.alf-slideshow-stack-1 {
    -webkit-transform: rotate(1.8deg);
    -moz-transform: rotate(1.8deg);
    -ms-transform: rotate(1.8deg);
    -o-transform: rotate(1.8deg);
    transform: rotate(1.8deg);
}

.alf-slideshow-stack-2 {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.alf-slideshow-toggle {
    display: block;
    width: 150px;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    padding: 0 40px 0 20px;
    margin: 20px auto;
}

.alf-slideshow-toggle:active {
    background: rgba(0, 0, 0, 0.9);
}

.alf-slideshow-toggle:before {
    content: 'Vis galleri';
    line-height: 60px;
    font-size: 26px;
    font-weight: normal;
    color: #FFF;
}

.alf-slideshow-toggle:after {
    content: '';
    height: 34px;
    width: 31px;
    top: 11px;
    position: absolute;
    right: 20px;
    background: url('../gfx/galleryIcon@2x.png') no-repeat center center;
    background-size: 100%;
}
