@import "_mixins";

body {
    margin: 0;
    padding: 0;
}

.alf-chrome {
    background: @body-background-color;
    font-family: @fonts-body;
    font-size: @fonts-body-size;
    -webkit-user-select: none;
}
