// Colors
$colors-background: #F5F5F5;
$colors-font: #333;

$line-height: 24px;

// Fonts
$fonts-location: 'http://dev.cdn.drmobile.aptoma.no/fonts';

$fonts-body: '';
$fonts-body-size: 1.8rem;


$fonts-excerpt-serif: DharmaGothicE-Bold;
$fonts-excerpt-serif-size: 130px;
$fonts-excerpt-serif-weight: normal;


$fonts-caption: '';

$fonts-quote: '';
