// Grid variables
@grid-outer-margin: 35px;
@grid-columns-spacing: 34px;
@grid-columns: 2;

@body-background-color: #F5F5F5;

// Fonts
@fonts-location: 'http://dev.cdn.drmobile.aptoma.no/fonts';

@fonts-title-serif: '';
@fonts-title-sans-serif: '';
@fonts-caption: '';

@fonts-body: '';
@fonts-body-size: 16px;

@fonts-quote: '';

@line-height: 24px;