//***************************************************
//***************************************************
//******************** IMPORTANT ********************
//***************************************************
//***************************************************
//
// DON'T TOUCH THIS FILE
// Customer overrides go in the `customer` folder
//

// Default variables
@import "aptoma/variables";

// Customer variables (overrides aptoma/_variables)
@import "customer/variables";

// Base styles
@import "aptoma/styles";

// Customer styles
@import "customer/styles";
