<!-- Start iPad generic templates

     _____        _____     ______
•   |      \     /     \    |      \
    |       |   |       |   |       |
|   |______/    |_______|   |       |
|   |           |       |   |       |
|   |           |       |   |______/

-->

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-bottom-left-container" data-name="Top right container" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
        <div class="alf-container-inline byline" data-map="byline"></div>
    </div>
    <div class="alf-col-2 no-overflow alf-is-resizable shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small 4x3-small"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large-media-only 4x3-large-media-only 4x3-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-bottom-left-container" data-name="Bottom left container" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
        <div class="alf-container-inline byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 no-overflow alf-is-resizable shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small 4x3-small"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large-media-only 4x3-large-media-only 4x3-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-right-container" data-name="Right container" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline byline" data-map="byline"></div>
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
    </div>
    <div class="alf-col-2 alf-container alf-flex" data-map="9x16-small 3x4-small 9x10-small 10x15-small portrait-generic-small"></div>
    <div class="alf-container-fullscreen" data-map="9x16-large-media-only 3x4-large-media-only 9x10-large-media-only 10x15-large-media-only portrait-generic-large 3x4-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-right-container" data-score="2" data-name="Right container fullsize" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline byline" data-map="byline"></div>
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
    </div>
    <div class="alf-col-2 alf-flex alf-col-no-margin no-overflow shadow">
        <div class="alf-container alf-allow-overflow alf-is-draggable-x" data-map="9x16-large-media-only 3x4-large-media-only portrait-generic-large-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="9x16-large 3x4-large 4x3-small portrait-generic-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-right-container" data-score="1" data-name="Left container fullsize" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-col-1 alf-flex alf-col-no-margin no-overflow shadow">
        <div class="alf-container alf-allow-overflow alf-is-draggable-x" data-map="9x16-large-media-only 3x4-large-media-only portrait-generic-large-media-only"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex">
        <div class="alf-container-inline byline" data-map="byline"></div>
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="9x16-large 3x4-large portrait-generic-large"></div>
</div>

<!-- FULLSIZE MEDIA -->
<div data-map="article article-template-article-gallery" class="alf-template tmpl-fullsize-media" data-score="0" data-name="Fullsize media" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container container-dark" data-map="1x1-large 16x9-large 9x16-large 4x3-large 3x4-large"></div>
    <div class="alf-container alf-is-optional byline none" data-map="byline"></div>
</div>

<div data-map="article article-template-article-gallery" class="alf-template tmpl-fullsize-media tmpl-fullsize-media-without-text" data-name="Fullsize media without text" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container container-dark" data-map="1x1-large-media-only 16x9-large-media-only 9x16-large-media-only 4x3-large-media-only 3x4-large-media-only"></div>
    <div class="alf-container alf-is-optional byline none" data-map="byline"></div>
</div>
<!-- END FULLSIZE MEDIA -->

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-landscape-slim-2" data-name="Wide slim top" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large landscape-slim-large"></div>
    <div class="alf-col-1 alf-colspan-2 landscape-slim-media alf-is-resizable">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only 1x1-large-media-only landscape-slim-large-media-only"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline byline" data-map="byline"></div>
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-landscape-slim-2" data-name="Wide slim top no margin" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large landscape-slim-large"></div>
    <div class="alf-col-1 alf-colspan-2 alf-col-no-margin landscape-slim-media alf-is-resizable">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only 1x1-large-media-only landscape-slim-large-media-only"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline byline" data-map="byline"></div>
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-landscape-slim-2" data-name="Wide slim bottom" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large landscape-slim-large"></div>
    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline byline" data-map="byline"></div>
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-1 alf-colspan-2 landscape-slim-media alf-is-resizable">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only 1x1-large-media-only landscape-slim-large-media-only"></div>
    </div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-landscape-slim-2" data-name="Wide slim bottom no margin" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large landscape-slim-large"></div>
    <div class="alf-col-1 alf-region alf-flex">
        <div class="alf-container-inline byline" data-map="byline"></div>
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-1 alf-colspan-2 alf-col-no-margin landscape-slim-media alf-is-resizable">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only 1x1-large-media-only landscape-slim-large-media-only"></div>
    </div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-text-only" data-name="Text only" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-region alf-col-1 alf-flex">
        <div class="alf-container-inline byline" data-map="byline"></div>
        <div class="alf-container-inline excerpt" data-map="excerpt"></div>
    </div>
    <div class="alf-region alf-col-2 alf-flex"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-text-only" data-name="Text only 1 column" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-region alf-col-1 alf-colspan-2  alf-flex">
        
    </div>
   
</div>

<div data-map="article" class="alf-template" data-name="Vertical test" data-filter-page-pos="!1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container" data-map="title"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="16x9-small 4x3-small"></div>
    </div>
</div>




<!-- End iPad generic templates
_____         __
|      |\  |  |  \
|---   | \ |  |   |
|____  |  \|  |__/

-->