<!-- Start iPad frontpage templates
     _____        _____     ______
•   |      \     /     \    |      \
    |       |   |       |   |       |
|   |______/    |_______|   |       |
|   |           |       |   |       |
|   |           |       |   |______/
-->

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background" data-name="Condensed frontpage with background" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background" data-name="Condensed frontpage with background and effect" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container no-margin alf-effect-ken-burns" data-map="4x3-large-media-only"></div>
    <div class="frontpage-top-left alf-effecIt-fade-in-late">
        <h2 class="alf-container alf-is-removable header-section " data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-draggable-portrait-image" data-name="Draggable portrait image" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="container-dark no-overflow">
        <div class="alf-container alf-is-draggable-x" data-map="1x1-large-media-only 9x16-large-media-only 3x4-large-media-only"></div>
    </div>
    <div>
        <div class="frontpage-top-left">
            <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
            <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
            <div class="alf-container alf-is-draggable alf-is-optional excerpt none" data-map="excerpt"></div>
        </div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background" data-name="Frontpage with background and excerpt with gradient" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-resizable alf-is-editable excerpt textaligncenter" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-excerpt-with-background" data-name="Frontpage with background and excerpt" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable alf-font-sans-serif excerpt" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-gradient" data-name="Condensed frontpage with background and gradient" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-left-gradient" data-name="Condensed frontpage with background and left gradient " data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="fill-left-half left-gradient-dark-to-light"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template tmpl-widescreen-frontpage" data-name="Widescreen frontpage with byline" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent">
        <div class="alf-container alf-is-editable header-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
        <div class="alf-container alf-is-editable byline textaligncenter" data-map="byline"></div>
    </div>
</div>

<div data-map="article" class="alf-template tmpl-widescreen-frontpage" data-name="Widescreen frontpage" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent">
        <div class="alf-container alf-is-editable header-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article" data-score="10000" class="alf-template tmpl-widescreen-frontpage-dark-background" data-name="Widescreen frontpage with dark background" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent">
        <div class="alf-container header-serif title alf-is-editable light textaligncenter" data-map="title"></div>
        <div class="alf-container excerpt light alf-is-editable textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
</div>


<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-generic" data-name="Frontpage generic" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-container" data-map="16x9-small-media-only 4x3-small-media-only 1x1-small-media-only"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-generic" data-name="Frontpage generic (auto stretch)" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-container alf-is-editable alf-stretch-to-fit header-serif title " data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-container" data-map="16x9-small-media-only 4x3-small-media-only 1x1-small-media-only"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-with-text-only" data-name="Frontpage with text only" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-col-1 alf-colspan-2 article-header-top">
        <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-with-text-only" data-name="Frontpage with text only (auto stretch)" data-filter-page-pos="1" data-media="(min-width: 1024px) and (max-width: 1517px) and (min-height: 748px)">
    <div class="alf-col-1 alf-colspan-2 article-header-top">
        <div class="alf-container alf-is-editable alf-stretch-to-fit header-serif title " data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<!-- End iPad frontpage templates

_____         __
|      |\  |  |  \
|---   | \ |  |   |
|____  |  \|  |__/

-->