<!-- Start iPhone templates
     _____                    _____               _______
•   |      \    |       |    /     \    |\    |   |
    |       |   |       |   |       |   | \   |   |
|   |______/    |_______|   |       |   |  \  |   |_____
|   |           |       |   |       |   |   \ |   |
|   |           |       |    \_____/    |    \|   |______
-->


<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-no-media" data-name="Title on top, no media" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="alf-container top-image" data-map="3x4-small-media-only 4x3-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>


<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top (serif)" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="alf-container top-image" data-map="3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-gradient-bg" data-name="Image with gradient" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="fill-height container-dark max-height">
        <div class="alf-container top-image" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom gradient-light-to-dark">
            <div class="alf-container header-sans-serif title alf-is-editable" data-map="title"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay tmpl-white-bg" data-name="Image with white background" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="fill-height max-height">
        <div class="alf-container top-image alf-is-draggable-y" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom white-background">
            <div class="alf-container header-sans-serif alf-is-editable title dark" data-map="title"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay-with-excerpt tmpl-white-bg" data-name="Image with white background and excerpt" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="fill-height max-height">
        <div class="alf-container top-image alf-is-draggable-y" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom white-background">
            <div class="alf-container header-serif alf-is-editable title dark" data-map="title"></div>
            <div class="alf-container alf-is-editable excerpt dark" data-map="excerpt"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="alf-container top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-optional alf-is-removable excerpt dark" data-map="excerpt"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline no-caption" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-media="(max-width: 1023px) and (min-height: 300px)">
    <div class="alf-container top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-optional alf-is-removable excerpt dark" data-map="excerpt"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline no-caption" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>



<!-- End iPhone templates
_____         __
|      |\  |  |  \
|---   | \ |  |   |
|____  |  \|  |__/
-->